/* MainContent.css */

/* Hero Section Styles */
.hero {
    font-family: Georgia, 'Times New Roman', Times, serif;/* Times New Roman font family */
    background-color: #043261; /* Light gray background */
    padding: 100px 0; /* Padding top and bottom */
    text-align: center;
  }
  
  .hero h1 {
    font-size: 3rem; /* Large heading font size */
    margin-bottom: 20px; /* Space below heading */
  }
  
  .hero p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem; /* Paragraph font size */
    margin-bottom: 40px; /* Space below paragraph */
  }
  
  /* Info Section Styles */
  .info {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #043261; /* Light gray background */

    padding: 80px 0; /* Padding top and bottom */
  }
  
  .info h2 {
    font-size: 2.5rem; /* Medium-large heading font size */
    margin-bottom: 20px; /* Space below heading */
  }
  
  .info p {
    font-size: 1rem; /* Small paragraph font size */
    margin-bottom: 20px; /* Space below paragraph */
  }
  
  .info .btn {
    font-size: 1rem; /* Button font size */
    padding: 10px 20px; /* Button padding */
    margin-top: 10px; /* Space above button */
  }
  
  /* Responsive Adjustments */
  @media (max-width: 992px) {
    .info .col-md-4 {
      margin-bottom: 30px; /* Space below columns on medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .hero h1 {
      font-size: 2.5rem; /* Reduce heading font size on smaller screens */
    }
  
    .hero p {
      font-size: 1rem; /* Reduce paragraph font size on smaller screens */
    }
  
    .info h2 {
      font-size: 2rem; /* Reduce heading font size on smaller screens */
    }
  
    .info .btn {
      font-size: 0.9rem; /* Reduce button font size on smaller screens */
      padding: 8px 16px; /* Adjust button padding on smaller screens */
    }
  }
  
